<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/style.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.3/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
  <style>

  </style>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>ATX</b>-<strong>Server</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text"></p>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" v-if="errmsg">
        <p class="color-red">{{errmsg}}
          <button class="btn btn-warning btn-xs" @click="loadWatches">点击重连</button>
        </p>
      </div>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <strong>批量操作</strong>
        <button @click.prevent="batchUnlock" class="btn btn-sm btn-default"><i class="fa fa-unlock"></i> 解锁</button>
        <button @click.prevent="batchLock" class="btn btn-sm btn-default"><i class="fa fa-lock"></i> 锁屏</button>
        <button @click.prevent="batchIdentify('red')" class="btn btn-sm btn-default"><i class="fa fa-location-arrow"></i> 红色</button>
        <button @click.prevent="batchIdentify('black')" class="btn btn-sm btn-default"><i class="fa fa-location-arrow"></i> 黑色</button>
        <button @click.prevent="batchPower" class="btn btn-sm btn-danger"><i class="fa fa-power-off"></i> 关机</button>
        <button @click.prevent="setProperty" class="btn btn-sm btn-info">资产设置</button>
      </div>
      <div class="form-group">
        <!-- <label>Search</label> -->
        <div class="input-group input-group-sm">
          <!-- <div class="input-group-addon">Search</div> -->
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control">
          <div class="input-group-addon" title="设备在线">
            <i class="fa fa-meh-o"></i>
            <strong v-text="onlineCount"></strong>
          </div>
          <div class="input-group-addon" title="可以使用">
            <i class="fa fa-smile-o"></i>
            <strong v-text="count(true, true, null)"></strong>
          </div>
          <div class="input-group-addon" title="在线但不能使用">
            <i class="fa fa-frown-o"></i>
            <strong v-text="count(true, false, null)"></strong>
          </div>
          <div class="input-group-addon" title="离线设备">
            <i class="fa fa-snowflake-o"></i>
            <strong v-text="count(false, null, null)"></strong>
          </div>
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th class="hidden-xs">IP</th>
            <th class="hidden-xs">Serial</th>
            <th>资产编号</th>
            <th>名字</th>
            <th>Brand</th>
            <th class="hidden">Model</th>
            <th class="hidden">Version(SDK)</th>
            <th class="hidden">CPU</th>
            <th class="hidden">MAC</th>
            <th class="hidden">Memory</th>
            <th class="hidden-xs">Agent</th>
            <th>电量</th>
            <th>状态</th>
            <th>上线时间</th>
            <th>操作</th>
            <th class="hidden-xs">更多</th>
            <!-- <th class="hidden-xs">Other</th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="d in devices" :key="d.udid" v-bind:class='{"offline": !d.present}'>
            <td>
              <input type="checkbox" :disabled="!d.present" v-model="d.ready" @click="toggleReady(d)">
            </td>
            <td class="hidden-xs"><span v-text="d.ip"></span></td>
            <td class="hidden-xs">
              {{d.serial | shortString(10)}}
              <!-- <span v-text='d.serial && d.serial.slice(4)+"..."' class="visible-xs"></span> -->
            </td>
            <td v-text="d.propertyId"></td>
            <td>
              <span v-text="(d.product || {}).name"></span>
              <a :href="'/devices/'+d.udid+'/edit'" class="fa fa-edit"></a>
            </td>
            <td v-text="d.brand"></td>
            <td class="hidden" v-text="d.model"></td>
            <td class="hidden">{{d.version}}({{d.sdk}})</td>
            <td class="hidden"><span v-if="d.cpu">{{d.cpu.hardware.replace('Qualcomm Technologies, Inc', '骁龙')}}</span></td>
            <td class="hidden text-uppercase"><span v-text="d.hwaddr"></span></td>
            <td class="hidden">{{d.memory && d.memory.around}}</td>
            <td class="hidden-xs" v-text="d.agentVersion"></td>
            <td>
              {{d.battery && d.battery.level}}%
              <template v-if="d.present && d.battery">
                <span class="hidden-xs fa fa-bolt color-yellow" v-show="d.battery.status == 2"></span>
                <span class="hidden-xs fa-fix-height fa" :class='"fa-battery-" + Math.ceil(d.battery.level/25)'></span>
              </template>
            </td>
            <td>
              <template v-if="d.using">
                <span @dblclick="release(d)">
                  <i class="color-busy fa-fix-height fa fa-wheelchair-alt"></i>
                </span>
              </template>
              <template v-else>
                <i class="color-rest fa-fix-height fa fa-bed"></i>
              </template>
            </td>
            <td>
              {{d.presenceChangedAt | timeSince}}
            </td>
            <td>
              <button title="定位" :disabled="!d.present" @click="identify(d)" class="btn btn-sm btn-default"><i class="fa fa-location-arrow" v-bind:class="{'fa-spin': d.identifying}"></i></button>
            </td>
            <td class="hidden-xs">
              <a target="_blank" :href='"/devices/"+d.udid+"/remote"'><i class="fa fa-eye"></i></a>
              <a target="_blank" :href='"http://"+d.ip+":7912/remote"'><i class="fa fa-television"></i></a>
              <a target="_blank" :href='"http://"+d.ip+":7912/term"'><i class="fa fa-terminal"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    new Vue({
      el: ".container-fluid",
      data: {
        devices: [],
        errmsg: "",
      },
      filters: {
        timeSince: function(value) {
          return moment(value).fromNow()
        },
        shortString: function(value, length) {
          length = parseInt(length || "10", 10);
          if (!value || value.length < length) {
            return value;
          }
          var preLen = Math.max(1, Math.floor(length / 2 - 2));
          var postLen = length - preLen - 2;
          return value.substr(0, preLen) + '..' + value.substr(-postLen);
        }
      },
      mounted: function() {
        this.loadWatches()
      },
      computed: {
        onlineCount: function() {
          return this.devices.filter(function(d) {
            return d.present
          }).length;
        }
      },
      methods: {
        count: function(present, ready, using) {
          return this.devices.filter(function(d) {
            if (present != null && d.present != present) {
              return false;
            }
            if (ready != null && d.ready != ready) {
              return false;
            }
            if (using != null && d.using != using) {
              return false;
            }
            return true;
          }).length
        },
        loadWatches: function() {
          // init data
          this.loadDevices()
          this.errmsg = "Connecting"

          var ws = new WebSocket("ws://" + location.host + "/feeds")
          ws.onopen = function() {
            console.log("websocket connected")
            this.errmsg = "";
          }.bind(this)
          ws.onmessage = function(evt) {
            var jdata = JSON.parse(evt.data);
            if (jdata.error) {
              this.errmsg = jdata.error;
              return
            }
            var dataNew = jdata.new,
              dataOld = jdata.old;
            if (dataNew && dataOld) {
              this.devices = this.devices.map(function(device) {
                if (device.udid == dataNew.udid) {
                  dataNew.identifying = false;
                  dataNew.product = device.product;
                  return dataNew;
                }
                return device;
              })
            } else {
              this.loadDevices();
            }
            // console.log("websocket recv:", evt.data)
          }.bind(this)
          ws.onclose = function(evt) {
            console.log("websocket closed")
            this.errmsg = "Server connection closed. " + this.errmsg;
          }.bind(this)
        },
        loadDevices: function() {
          return $.ajax({
            url: "/list",
          }).then(function(ret) {
            this.devices = ret.map(function(d) {
              d.identifying = false;
              return d
            })
          }.bind(this))
        },
        identify: function(d) {
          d.identifying = true;
          $.ajax({
              url: "/devices/" + d.udid + "/shell",
              method: "post",
              data: {
                command: "input keyevent HOME && am start -W --user 0 -a com.github.uiautomator.ACTION_IDENTIFY -e theme red"
              }
            })
            .always(function() {
              d.identifying = false
            }.bind(this))
        },
        release: function(d) {
          $.ajax({
            url: "/devices/" + d.udid + "/reserved",
            method: "delete",
          }).then(this.loadDevices)
        },
        toggleReady: function(d) {
          d.ready = !d.ready;
          $.ajax({
            url: "/devices/" + d.udid + "/info",
            method: "post",
            data: JSON.stringify({
              ready: d.ready,
            })
          })
        },
        batchIdentify: function(theme) {
          $.ajax({
            url: "/api/v1/batch/shell",
            method: "post",
            data: {
              command: "input keyevent BACK && am start -W -a com.github.uiautomator.ACTION_IDENTIFY -e theme " + theme,
            }
          })
        },
        batchLock: function() {
          $.ajax({
            url: "/api/v1/batch/lock",
            method: "post",
          })
        },
        batchUnlock: function() {
          $.ajax({
            url: "/api/v1/batch/unlock",
            method: "post",
          })
        },
        batchPower: function() {
          $.ajax({
            url: "/api/v1/batch/shell",
            method: "post",
            data: {
              command: "reboot -p"
            }
          })
        },
        setProperty: function() {
          $.ajax({
            url: "/api/v1/batch/shell",
            method: "post",
            data: {
              command: "am start -a android.intent.action.VIEW -d http://" + location.host + "/property",
            }
          })
        }
      }
    })
  </script>
</body>

</html>