<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.3/dist/vue.min.js"></script>
  <style>
    body {
      font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
    }
    
    .color-green {
      color: green;
    }
    
    .color-rest {
      color: rgb(74, 201, 89);
    }
    
    .color-busy {
      color: tomato;
    }
    
    .color-yellow {
      color: yellowgreen;
    }
    
    .fa-fix-height {
      line-height: 24px;
    }
    
    .fa-battery-4 {
      color: green;
    }
    
    .fa-battery-3 {
      color: yellowgreen;
    }
    
    .fa-battery-2 {
      color: yellow;
    }
    
    .fa-battery-1 {
      color: red;
    }
    
    .fa-battery-0 {
      color: red;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h3>ATX 手机设备管理</h3>
      </div>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <button @click.prevent="batchUnlock" class="btn btn-sm btn-default"><i class="fa fa-unlock"></i> 全部解锁</button>
        <button @click.prevent="batchLock" class="btn btn-sm btn-default"><i class="fa fa-lock"></i> 全部锁屏</button>
        <button @click.prevent="batchIdentify" class="btn btn-sm btn-default"><i class="fa fa-location-arrow"></i> 全部定位</button>
      </div>
      <div class="form-group">
        <!-- <label>Search</label> -->
        <div class="input-group input-group-sm">
          <!-- <div class="input-group-addon">Search</div> -->
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control">
          <div class="input-group-addon">
            <strong v-text="devices.length"></strong>
          </div>
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>IP</th>
            <th>Serial</th>
            <th>Brand</th>
            <th>Model</th>
            <th class="hidden-xs">MAC</th>
            <th>Agent</th>
            <th>电量</th>
            <th>状态</th>
            <th>操作</th>
            <!-- <th class="hidden-xs">Other</th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="d in devices" :key="d.udid">
            <td>
              <input type="checkbox" v-model="d.ready" @click="toggleReady(d)">
            </td>
            <td><span v-text="d.ip"></span></td>
            <td>
              <span v-text='d.serial' class="hidden-xs"></span>
              <span v-text='d.serial.slice(4)+"..."' class="visible-xs"></span>
            </td>
            <td v-text="d.brand"></td>
            <td v-text="d.model"></td>
            <td class="hidden-xs text-uppercase"><span v-text="d.hwaddr"></span></td>
            <td v-text="d.agentVersion"></td>
            <td>
              {{d.battery.level}}%
              <span class="fa fa-bolt color-yellow" v-show="d.battery.status == 2"></span>
              <span class="fa-fix-height fa" :class='"fa-battery-" + Math.ceil(d.battery.level/25)'></span>
            </td>
            <td>
              <template v-if="d.using">
                <span @dblclick="release(d)">
                  <i class="color-busy fa-fix-height fa fa-wheelchair-alt"></i>
                </span>
              </template>
              <template v-else>
                <i class="color-rest fa-fix-height fa fa-bed"></i>
              </template>
            </td>
            <td>
              <button title="定位" @click="identify(d)" class="btn btn-sm btn-default"><i class="fa fa-location-arrow" v-bind:class="{'fa-spin': d.identifying}"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    new Vue({
      el: ".container-fluid",
      data: {
        name: "He",
        devices: []
      },
      mounted: function() {
        this.loadDevices()
        this.loadWatches()
      },
      methods: {
        loadWatches: function() {
          var ws = new WebSocket("ws://" + location.host + "/feeds")
          ws.onopen = function() {
            console.log("websocket connected")
          }
          ws.onmessage = function(evt) {
            console.log("websocket recv:", evt.data)
          }
          ws.onclose = function(evt) {
            console.log("websocket closed")
          }
        },
        loadDevices: function() {
          return $.ajax({
            url: "/list",
          }).then(function(ret) {
            this.devices = ret.map(function(d) {
              d.identifying = false;
              return d
            })
          }.bind(this))
        },
        identify: function(d) {
          d.identifying = true;
          $.ajax({
              url: "/devices/" + d.udid + "/shell",
              method: "post",
              data: {
                command: "input keyevent HOME && am start -W --user 0 -a com.github.uiautomator.ACTION_IDENTIFY -e theme red"
              }
            })
            .always(function() {
              d.identifying = false
            }.bind(this))
        },
        release: function(d) {
          $.ajax({
            url: "/devices/" + d.udid + "/reserved",
            method: "delete",
          }).then(this.loadDevices)
        },
        toggleReady: function(d) {
          d.ready = !d.ready;
          $.ajax({
            url: "/devices/" + d.udid + "/info",
            method: "post",
            data: JSON.stringify({
              ready: d.ready,
            })
          })
        },
        batchIdentify: function() {
          $.ajax({
            url: "/api/v1/batch/shell",
            method: "post",
            data: {
              command: "input keyevent HOME && am start -W -a com.github.uiautomator.ACTION_IDENTIFY -e theme red"
            }
          })
        },
        batchLock: function() {
          $.ajax({
            url: "/api/v1/batch/lock",
            method: "post",
          })
        },
        batchUnlock: function() {
          $.ajax({
            url: "/api/v1/batch/unlock",
            method: "post",
          })
        }
      }
    })
  </script>
</body>

</html>