<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>DRC [[.]]</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/assets/remote.css">
  <link rel="stylesheet" href="/assets/bootstrap-tabs.css">
  <link rel="stylesheet" href="/assets/logcat.css">
  <!-- jstree -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree@3.3.4/dist/themes/default/style.min.css">
  <style>
    /* body {
      background: #EDECEC;
      padding: 50px
    } */
  </style>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-default" style="margin-bottom: 0px">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><b>ATX</b>-<strong>Server</strong></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <p class="navbar-text">{{device.ip}}</p>
      </div>
    </nav>
    <div id="upper">
      <div id="left">
        <div>
        </div>
        <section id="screen">
          <canvas id="fgCanvas" class="canvas-fg" v-bind:style="canvasStyle"></canvas>
          <canvas id="bgCanvas" class="canvas-bg" v-bind:style="canvasStyle"></canvas>
          <span class="finger finger-0" style="transform: translate3d(200px, 100px, 0px)"></span>
          <span class="finger finger-1" style="transform: translate3d(200px, 100px, 0px)"></span>
          <!-- <img style="z-index: 10" v-if="loading" src="/assets/loading.svg"> -->
        </section>
        <section id="footer">
          <button class="btn" @click="keyevent('menu')"><i class="glyphicon glyphicon-menu-hamburger"></i> Menu</button>
          <button class="btn" @click="keyevent('home')"><i class="fa fa-home"></i> Home</button>
          <button class="btn" @click="keyevent('back')"><i class="fa fa-chevron-left"></i> Back</button>
        </section>
      </div>
      <div id="vertical-gap1" class="handle vertical-gap"></div>
      <div id="right">

        <div class="row box">
          <div class="col-md-12 box">
            <!-- Nav tabs -->
            <div class="card">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" @click="navtabs.active=v.id" :class='{active: v.id == navtabs.active}' v-for="v in navtabs.tabs">
                  <a :href="'#'+v.id" :aria-controls="v.id" role="tab" data-toggle="tab">{{v.name}}</a>
                </li>
                <!-- <li role="presentation"><a href="#logcat" aria-controls="logcat" role="tab" data-toggle="tab">Logcat</a></li> -->
                <!-- <li role="presentation"><a href="#install" aria-controls="install" role="tab" data-toggle="tab">App install</a></li> -->
                <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
                <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">TODO</a></li>
                <li v-show='navtabs.active == "logcat"' class="follow-log" v-bind:style="{'border-color': logcat.follow ? 'green' : 'gray'}" @click="followLog">
                  <span class="hover-content"><i class="glyphicon glyphicon-arrow-down"></i> Scroll to End of Log</span>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content" ref="tab_content" @mousewheel="tabScroll">
                <tab-item v-on:additem="addTabItem" :active="navtabs.active" name="HOME">
                  <button @click="fixRotation" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-repeat"></span> 修复旋转</button>
                  <button @click="fixMinicap" class="btn btn-default btn-sm"><span class="fa fa-legal"></span> 修复minicap</button>
                  <div style="padding-top: 10px" v-text="fixConsole"></div>
                </tab-item>

                <tab-item v-on:additem="addTabItem" :active="navtabs.active" name="Logcat">
                  <p>最大保存行数: <input type="number" v-model.number="logcat.maxKeep"></p>
                  <div class="input-group input-group-sm" style="width: 400px">
                    <span class="input-group-addon">Package name</span>
                    <input type="text" class="form-control" placeholder="com.example...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
                    </span>
                  </div>
                  <br>
                  <table class="logcat" ref="logcat">
                    <tbody>
                      <tr v-for="v in logcat.logs">
                        <td class="logcat-lineno" :style="{color: logcatTag2Color(v.tag)}">{{v.lineno}}</td>
                        <td class="logcat-tag" :style="{color: logcatTag2Color(v.tag)}">{{v.tag}}</td>
                        <td class="logcat-level" :style="{'background-color': logcatLevel2Color(v.level)}">{{v.level}}</td>
                        <td class="logcat-content">{{v.content}}</td>
                      </tr>
                      <tr>
                        <td class="logcat-lineno">2000</td>
                        <td class="logcat-tag" style="color: rgb(105, 155, 221)">EsService</td>
                        <td class="logcat-level">I</td>
                        <td>readResults: read results: 32, lastRequestId: 330</td>
                      </tr>
                      <tr>
                        <td class="logcat-lineno">2000</td>
                        <td></td>
                        <td class="logcat-level">I</td>
                        <td class="logcat-content">Kgd.KeyguardUpdateMonitor: mTimeTickBroadcastReceiver current state is mBootCompleted=true mDeviceProvisioned=true mPhoneState=0 Keyguard.isShowing = false Keyguard.isOccluded = false mScreenOn=true</td>
                      </tr>
                      <tr>
                        <td class="logcat-lineno">2000</td>
                        <td class="logcat-tag">libEGL</td>
                        <td class="logcat-level" style="background-color: gray">D</td>
                        <td class="logcat-content">loaded /system/lib/egl/libEGL_adreno200.so</td>
                      </tr>
                    </tbody>
                  </table>
                </tab-item>

                <tab-item v-on:additem="addTabItem" :active="navtabs.active" name="App install">
                  <label>从URL安装</label>
                  <div style="max-width: 500px" class="input-group">
                    <input type="text" placeholder="https://..." class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go</button>
                    </span>
                  </div>
                  </p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                  recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </tab-item>
                <tab-item v-on:additem="addTabItem" :active="navtabs.active" name="Settings">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                  survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..
                </tab-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- alert and dialogs -->
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><span class="color-red"><i class="fa fa-warning"></i> Error</span></h4>
          </div>
          <div class="modal-body">
            <pre v-html="error"></pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jstree@3.3.4/dist/jstree.min.js"></script>
<script src="/assets/common.js"></script>
<script type="text/x-template" id="tab-item-component">
  <div role="tabpanel" class="tab-pane" :class='{active: active == id}' :id="id">
    <slot></slot>
  </div>
</script>
<script>
  var deviceIp = "[[.]]";

  Vue.component('tab-item', {
    template: '#tab-item-component',
    props: ["name", "active"],
    computed: {
      id: function() {
        return this.name.toLowerCase().replace(" ", "-")
      }
    },
    mounted: function() {
      var item = {
        name: this.name,
        id: this.id,
      }
      this.$emit("additem", item);
    }
  });
</script>
<!-- need set var "deviceIp" before -->
<script src='[["/assets/remote.js" | urlhash]]'></script>

</html>